<li class="nav-item dropdown no-arrow mx-1">
  <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" 
    role="button" data-toggle="dropdown"aria-haspopup="true"
    aria-expanded="false">
    <i class="fas fa-bell fa-fw"></i>

    <!-- Counter - Alerts -->
    <% if @notifications.present? %>
      <span class="badge badge-danger badge-counter">
        <%= @notifications.size %>+
      </span>
    <% end %>
  </a>

  <!-- Dropdown - Alerts -->
  <div aria-labelledby="alertsDropdown"
    class="dropdown-list dropdown-menu dropdown-menu-right 
           shadow animated--grow-in">

    <h6 class="dropdown-header">
      Alerts Center
    </h6>

    <% @notifications&.each do |notification| %>
    <a class="dropdown-item d-flex align-items-center" href="#">
      <div class="mr-3">
        <div class="icon-circle bg-<%= notification.kind %>">
          <i class="fas fa-file-alt text-white"></i>
        </div>
      </div>
      <div>
        <div class="small text-gray-500"><%= notification.date %></div>
        <% if notification.viewed %>
          <%= notification.content %>
        <% else %>
          <span class="font-weight-bold"><%= notification.content %></span>
        <% end %>
      </div>
    </a>
    <% end %>

    <a class="dropdown-item text-center small text-gray-500" href="#">
      Show All Alerts
    </a>
  </div>
</li>